
body{
    background-color: #aaaadc;
}

.box {
    margin: 20px 10% 20px 10%;
    border: black 3px solid;
    padding: 5px 0% 5px 0%;
}
.title {
    margin: 5px 2% 5px 2%;
    border: black 2px dashed;
    
}

img {
    margin: 20px 30% 20px 0%;
    border: orange 2px dashed;
    padding: 10px 1% 10px 1%;
}