.header {
    margin: 10px 0% 10px 0%;
    border: purple 1px dotted;
    padding: 150px 0% 5px 0%;
    text-align: center;
    font-size: 12px;
}

.greenSmall{
    font-size: 9px;
    color: green;
    text-align: center;
}

.orangeText{
    color: orange;
}

.redSuper{
    color: red;
    vertical-align: super;
    font-size: 30px;
}

.purpleSmall{
    color: purple;
    text-align: right;
    font-size: 8px;
}

.italicsSmall{
    color: yellow;
    text-transform: uppercase;
    font-style: italic;
}